<%- include('partials/header'); -%>

    <div class="main-response">
        <h1><%=cityName%></h1>
        <br>
        <h3>Active : <%=Active%></h2>
        <br>
    </div>

    <div class="secondary-response row">
        <div class="col-4">
            <h5>
                Confirmed
            </h5>
            <br>
            All-Time : <%=allTimeConfirmed%>
            <br>
            Today : <%=casesToday%>
        </div>
        <div class="col-4">
            <h5>
                Deceased
            </h5>
            <br>
            All-Time : <%=allTimeDeceased%>
            <br>
            Today : <%=deathsToday%>
        </div>
        <div class="col-4">
            <h5>
                Recovered
            </h5>
            <br>
            All-Time : <%=allTimeRecovered%>
            <br>
            Today : <%=recoveredToday%>
        </div>
    </div>


<%- include('partials/footer'); -%>